@charset "UTF-8";
style *{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: "Expletus Sans";
    src: url(Expletus_Sans/ExpletusSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.inicio{
    background-color: rgb(134, 134, 134);
    width: 100%;
}
#logo-qa{
    margin-left: 19%;
}
.pesquisa{
    display: inline-flex;
    margin-left: 5%;
    width: 40%;
}
#texto{
    width: 100%;
    height: 60px;
    text-indent:1em;
    font-family: Expletus Sans;
    font-size: 20px;
    background-color: white;
    border: solid 8px rgb(80, 80, 80);
    border-right: transparent;
}
#btnbuscar{
    border: solid 8px rgb(80, 80, 80);
    border-left: transparent;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
}
#logo-da{
    margin-top: 3px;
    margin-left: 2%;
}
#brasao{
    margin-top: 3px;
}
.menu{
    width: 100%;
    background-color: rgb(66, 66, 66);
    margin-top: -6px;
}
#pmenu{
    font-size: 20px;
    height: 60px;
    padding: 5px;
    text-align: center;
}
#pmenuitem{
    display: inline-block;
    line-height: 60px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}
#pmenuitem:hover{
    background: linear-gradient(90deg,  rgb(231, 31, 171), rgb(33, 106, 216));
    border-radius: 10px;
}
#pmenuitem:hover > #smenu{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#smenu{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    border-radius: 10px;
}
#smenuitem{
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
#smenuitem:hover{
    background: linear-gradient(90deg, rgb(33, 106, 216),  rgb(231, 31, 171));
    border-radius: 10px;
}
.container{
    display: flex;
}
.conteudo{
    display: flex;
}
.barraesq{
    width: 19%;
    height: 1100px;
    background-color:  rgb(134, 134, 134);
}
#pmenuapres{
    color: white;
    list-style: none;
    padding: 10px;
    font-size: 25px;
}
#pmenuapres li{
    margin-top: 25px;
    margin-left: -2px;
    background-color:#a3a3a3;
    text-align: center;
    padding: 10px;
}
#pmenuapres li:hover{
    background-color: rgb(125, 18, 167);
}
#pmenuapres li:hover > #smenuapres{
    display: block;
}
#smenuapres{
    display: none;
    position: absolute;
    background:  rgb(99, 99, 99);
    list-style: none;
    font-family: Expletus Sans;
    font-size: 20px;
    padding: 5px;
    margin-left: 80%;
    margin-top: -43px;
}
#smenuapres li{
    margin-top: 10px;
    width: 200px;
    border: dashed 3px transparent;
    border-radius: 10px;
}
#smenuapres li:hover{
    border: dashed 3px rgb(216, 216, 216);
}
#redes{
    text-align: center;
    padding: 20px;
}
#redes img{
    margin-left: 15px;
    margin-right: 25px;
}
body{
    background-color: rgb(224, 224, 224);
    font-family: Expletus Sans;
}
h1 a{
    color: rgb(48, 48, 48);
}
p{
    text-align: justify;
    text-indent: 2em;
}
.feed{
    margin-top: 20px;
    text-align:center;
    width: 60%;
    float: left;
}
.feed h1 :hover{
    color: rgb(33, 106, 216);
    border-bottom: 3px solid rgb(33, 106, 216);
    border-top: 3px solid rgb(33, 106, 216);
    padding: 5px;
}
.barradrt{
    width: 19%;
    height: 1100px;
    background-color:  rgb(134, 134, 134);
}
.barrasubm ul{
    background-color: rgb(99, 99, 99);
    text-align: center;
    list-style: none;
    font-family: Expletus Sans;
    font-size: 20px;
    padding: 30px;
}
#artigosc{
    background-color: rgb(231, 31, 171);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#artigosc:hover{
    border:dashed 5px rgb(233, 233, 233);
}
#planose{
    background-color: rgb(125, 18, 167);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#planose:hover{
    border:dashed 5px rgb(233, 233, 233);
}
#cursosa{
    background-color: rgb(33, 106, 216);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#cursosa:hover{
    border:dashed 5px rgb(233, 233, 233);
}
.barralqcc{
    background-color: rgb(99, 99, 99);
    font-family: Expletus Sans;
    font-size: 25px;
    padding: 30px;
    margin-top: 20px;
}
.barralqcc ul li{
    text-align: center;
    list-style: none;
    color: white;
    margin-right: 40px;
    margin-top: 20px;
}
.rodape{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 100px;
    position: absolute;
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {
    .inicio{
        width: 105%;
    }
    #logo-qa{
        margin-left: 0;
    }
    #texto{
        width: 70%;
        display: none;
    }
    #btnbuscar{
        display: none;
    }
    #logo-da{
        margin: 0%;
    }
    #brasao{
        margin: 0%;
    }
    .menu{
        width: 100%;
        margin: 0%;
        margin-top: -7px;
    }
    #btnmenu{
        display: inline;
        background-color: rgb(231, 31, 171);
        border: none;
    }
    #pmenu{
        position: relative;
        margin: 0%;
        padding: 0%;
    }
    #pmenuitem{
        display: none;
    }
    .barraesq{
        display: none;
    }
    .feed{
        width: 100%;
        margin: 0%;
    }
    .barradrt{
        margin: 0%;
        display: none;
    }
    .rodape{
        width: 100%;
        margin-top: 1000px;
    }
}