@charset "UTF-8";
style *{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: "Expletus Sans";
    src: url(Expletus_Sans/ExpletusSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.inicio{
    background-color: rgb(134, 134, 134);
    width: 100%;
}
#logo-qa{
    transition: all .4s;
    padding-left: 19%;
}
.pesquisa{
    width: 40%;
    padding-left: 5%;
    display: inline-flex;
    position: absolute;
    padding-top: 40px;
}
#texto{
    width: 100%;
    height: 60px;
    text-indent:1em;
    font-family: Expletus Sans;
    font-size: 20px;
    background-color: white;
    border: solid 8px rgb(80, 80, 80);
    border-right: transparent;
}
#btnbuscar{
    border: solid 8px rgb(80, 80, 80);
    border-left: transparent;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    height: 60px;
}
#logo-da{
    margin-left: 47%;
}
.menu{
    width: 100%;
    background-color: rgb(66, 66, 66);
    margin-top: -6px;
}
#menucheck{
    display: none;
}
#menuicon{
    transition: all .4s;
    display: none;
    padding: 5px;
    background-color: rgb(66, 66, 66);
    color: white;
    font-family: Expletus Sans;
}
#logo-daresp{
    display: none;
}
#brasaoresp{
    display: none;
}
#pmenures{
    display: none;
}
#pmenu{
    font-size: 20px;
    height: 60px;
    padding: 5px;
    text-align: center;
}
#pmenuitem{
    display: inline-block;
    line-height: 60px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0px;
}
#pmenuitem:hover{
    background: linear-gradient(90deg,  rgb(231, 31, 171) 20%, rgb(33, 106, 216));
    transition: all .5s;
    border-radius: 10px;
}
#pmenuitem:hover > #smenu{
    display: block;
    border-radius: 10px;
}
#smenu{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    border-radius: 10px;
}
#smenuitem{
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
}
#smenuitem:hover{
    background: linear-gradient(90deg, rgb(33, 106, 216),  rgb(231, 31, 171)80%);
    transition: all .5s;
    border-radius: 20px;
}
.conteudo{
    display: flex;
}
.barraesq{
    width: 19%;
    height: 1100px;
    background-color:  rgb(134, 134, 134);
}
#pmenuapres{
    color: white;
    list-style: none;
    padding: 10px;
    font-size: 25px;
}
#pmenuapres li{
    margin-top: 25px;
    margin-left: -2px;
    background-color:#a3a3a3;
    text-align: center;
    padding: 10px;
}
#pmenuapres li:hover{
    transition: all .4s;
    background-color: rgb(125, 18, 167);
}
#pmenuapres li:hover > #smenuapres{
    display: block;
}
#smenuapres{
    display: none;
    position: absolute;
    background:  rgb(99, 99, 99);
    list-style: none;
    font-family: Expletus Sans;
    font-size: 20px;
    padding: 5px;
    margin-left: 15%;
    margin-top: -43px;
}
#smenuapres li{
    margin-top: 10px;
    width: 200px;
    border: dashed 3px transparent;
    border-radius: 10px;
}
#smenuapres li:hover{
    border: dashed 3px rgb(216, 216, 216);
}
#redes{
    padding: 20px;
}
#redes img{
    margin-left: 10px;
    margin-right: 20px;
    border: inset 5px transparent;
}
#redes img:hover{
    transition: all .4s;
    border: inset 5px white;
}
body{
    background-color: rgb(224, 224, 224);
    font-family: Expletus Sans;
}
h1 a{
    color: rgb(48, 48, 48);
}
.feed p{
    text-align: justify;
    text-indent: 2em;
    padding: 5px;
}
.feed{
    transition: all .4s;
    margin-top: 20px;
    text-align:center;
    width: 60%;
    margin-left: 1%;
    margin-right: 1%;
}
.feed h1{
    padding: 15px;
}
.feed h1 :hover{
    transition: all .4s;
    color: rgb(33, 106, 216);
    border-bottom: 3px solid rgb(33, 106, 216);
    border-top: 3px solid rgb(33, 106, 216);
    padding: 5px;
}
.barradrt{
    transition: all .4s;
    width: 19%;
    height: 1100px;
    background-color:  rgb(134, 134, 134);
}
.barrasubm ul{
    background-color: rgb(99, 99, 99);
    text-align: center;
    list-style: none;
    font-family: Expletus Sans;
    font-size: 20px;
    padding: 30px;
}
#artigosc{
    background-color: rgb(231, 31, 171);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#artigosc:hover{
    transition: all .4s;
    border:dashed 5px rgb(233, 233, 233);
}
#planose{
    background-color: rgb(125, 18, 167);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#planose:hover{
    transition: all .4s;
    border:dashed 5px rgb(233, 233, 233);
}
#cursosa{
    background-color: rgb(33, 106, 216);
    padding: 15px;
    margin-top: 15px;
    border: solid 5px transparent;
    word-wrap: break-word;
}
#cursosa:hover{
    transition: all .4s;
    border:dashed 5px rgb(233, 233, 233);
}
.barralqcc{
    background-color: rgb(99, 99, 99);
    font-family: Expletus Sans;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}
.barralqcc ul li{
    text-align: center;
    list-style: none;
    color: white;
    margin-top: 20px;
}
.rodape{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 100px;
    position: absolute;
}
#logo-darodape{
    display: none;
}
#brasaorodape{
    display: none;
}
@media only screen and (max-width: 1100px) {
    #logo-qa{
        transition: all .4s;
        margin-left: -10%;
    }
}
@media only screen and (max-width: 950px) {
    #menucheck:checked ~ #pmenures{
        display: block;
    }
    #menucheck:checked ~ #menuicon{
        transition: all .4s;
        background-color: rgb(125, 18, 167);
    }
    #menuicon{
        display: block;
        font-size: 25px;
        text-align: center;
    }
    #pmenures{
        display: none;
        text-align: center;
        font-size: 20px;
    }
    #pmenures input{
        display: none;
    }
    #pmenures li{
        display: block;
        line-height: 35px;
        padding: 0;
        color: white;
    }
    #pmenures li p{
        text-align: center;
        
    }
    #edicheck:checked ~ #pmenuedi{
        transition: all .4s;
        background-color: rgb(33, 106, 216);
    }
    #edicheck:checked ~ .smenuedi{
        display: inline-block;
        background-color: tomato;
    }
    #artcheck:checked ~ #pmenuart{
        transition: all .4s;
        background-color: rgb(33, 106, 216);
    }
    #metcheck:checked ~ #pmenumet{
        transition: all .4s;
        background-color: rgb(33, 106, 216);
    }
    #curcheck:checked ~ #pmenucur{
        transition: all .4s;
        background-color: rgb(33, 106, 216);
    }
    #forcheck:checked ~ #pmenufor{
        transition: all .4s;
        background-color: rgb(33, 106, 216);
    }
    #smenures{
        display: noe;
        background-color: rgb(83, 83, 83);
        padding: 0;
    }
    #pmenu{
        display: none;
    }
    .conteudo{
        display: inline-block;
    }
    .barraesq{
        display: inline-block;
        height: 70px;
        width: 100%;
    }
    #pmenuapres{
        display: flex;
        padding: 0;
        margin-top: 5px;
        margin-left: 1%;
    }
    #pmenuapres li{
        margin: 0;
        padding: 15px;
        height: 30px;
    }
    #smenuapres{
        width: 42%;
        margin-left: 20%;
        margin-top: -48px;
    }
    #smenuapres li{
        margin-top: 5px;
        width: 94%;
        margin-left: 2%;
        padding: 0;
    }
    #redes{
        transition: all .4s;
        padding: 0;
        padding-left: 43%;
        position: static;
    }
    #redes img{
        margin: 0;
    }
    .feed{
        transition: all .4s;
        width: 98%;
    }
    .barradrt{
        transition: all .4s;
        width: 100%;
        height: 240px;
        display: inline-flex;
        margin-top: 20px;
    }
    .barrasubm{
        margin-left: 2%;
        margin-top: 15px;
        height: auto;
        width: 60%;
    }
    .barrasubm ul{
        padding: 10px;
    }
    #artigosc{
        padding: 5px;
        margin-top: 10px;
    }
    #planose{
        padding: 5px;
        margin-top: 5px;
    }
    #cursosa{
        padding: 5px;
        margin-top: 5px;
    }
    .barralqcc{
        font-size: 20px;
        padding: 10px;
        margin-top: 15px;
        height: 190px;
        width: 30%;
        margin-left: 2%;
    }
    .barralqcc ul li{
        text-align: center;
        list-style: none;
        color: white;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 750px) {
    #logo-qa{
        padding-left: 10%;
    }
    #smenuapres{
        width: 50%;
        margin-left: -2%;
        margin-top: 12px;
    }
    #smenuapres li{
        margin-top: 5px;
        width: 94%;
        margin-left: 0%;
        padding: 0;
    }
    #redes{
        transition: all .4s;
        padding-left: 28%;
    }
}
@media only screen and (max-width: 600px) {
    .pesquisa{
        width: 75%;
        padding-top: 20px;
        padding-left: 2%;
    }
    #logo-da{
        display: none;
    }
    #brasao{
        display: none;
    }
    #pmenuapres{
        font-size: 20px;
    }
    #smenuapres li{
        padding-bottom: 20px
    }
    #redes{
        padding-left: 10%;
    }
    .feed h1 :hover{
        border: none;
    }
    .barradrt{
        height: 270px;
    }
    .rodape{
        display: inline-flex;
    }
    #logo-darodape{
        display: block;
        background-color: rgb(85, 85, 85);
        margin-left: 10%;
    }
    #logo-darodape img{
        margin-top: 5px;
    }
    #brasaorodape{
        display: block;
        background-color: rgb(85, 85, 85);
        margin-left: 10%;
        width: 100px;
    }
    #brasaorodape img{
        margin-left: 25%;
        margin-top: 7px;
    }
}
@media only screen and (max-width: 480px) {
    .pesquisa{
        width: 70%;
    }
    #redes{
        padding-left: 7%;
    }
    .barradrt{
        height: 290px;
    }
    .barralqcc{
        height: 210px;
        margin-left: 1%;
    }
}
@media only screen and (max-width: 400px) {
    .pesquisa{
        width: 65%;
    }
    .barraesq{
        height: 55px;
    }
    #pmenuapres li{
        padding: 7px;
    }
    #smenuapres{
        width: 280px;
    }
}